@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Muli);
/*font-family: 'Muli', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Righteous);
/*font-family: 'Righteous', cursive;*/
@import url(https://fonts.googleapis.com/css?family=Lora);
/*font-family: 'Lora', serif;*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css);

html {
    font-size: 16px;
}

.body-container {
    border: 2px red solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: 'Righteous', cursive;
    padding: 10px 20px 5px 20px;
}

.main {
    border: 2px blue solid;
    flex-grow: 1;
}

.footer {
    height: 3rem;
    background-color: rgba(255, 245, 0, 0.28);
    border: 2px #e2ff00 solid;
    padding: 8px;
    margin: 8px;
}

.lamain {
    display: flex;
    border: 2px green solid;
}

.ruler {
    min-width: 11rem;
    border: 2px #befc91 solid;
    display: flex;
    flex-direction: column;
    padding: 8px;

    
}
.content {
    flex-grow: 1;
    background-color: #f5f8da;
    border: 2px #ff41f8 solid;
}

.logo {
    background-image: url(../1803fs/pic/logo.jpg);
    border-radius: 50%;
    width: 100%;
    min-height: 11rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;    
}

.options {
    border: 2px blue solid;
    flex-grow: 1;   
}

.bottom { 
    border: 2px blue solid;
    flex-grow: 1;   
}

.list {
    list-style: none;   
}

a:hover {
   color: #0550e0;
}

a {
    text-align: center;
}

.asection {
    display: flex;
    background-color: #c0fc96;
    flex-direction: column;
}

.center {
    display: flex;
    border: 2px #ff00e2 solid;
    flex-direction: column;
    padding: 8px;   
}

.hero {
    border: 2px black solid;
    background-image: url(../1803fs/pic/0219_foodsense.jpg);
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 24rem;   
}

.subscribe {
    border: 2px black solid;
}

.menu {
    border: 2px black solid;
    display: flex;
}

.a-article {
    background-image: url(../1803fs/pic/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: 50% 50%;  
}

.b-article {
    background-image: url(../1803fs/pic/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: 50% 50%;
}

.c-article {
    background-image: url(../1803fs/pic/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: 50% 50%;
}

.d-article {
    background-image: url(../1803fs/pic/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: 50% 50%;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #f2ada0;
    border: 2px #f2622d solid;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 4px; 
}

.fruit {
    border: 2px #7c8af2 solid;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    min-height: 9rem;   
    flex-basis: 30%;
}

h1 {
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
    color: #1b9b1f;
}

p {
    font-family: 'Lora', serif;
    color: #5c5c5b;
    font-size: o.6rem;  
}

.center-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px; 
}

.span {
    color: #f0e8e8;
    background-color: rgba(6, 6, 92, 0.83);
    font-size: 1.5rem;
    margin: 5px;
    flex-shrink: 3;     
}

.buttons {
    display: flex;
    min-height: 3rem;
    justify-content: center;
    align-items: stretch;
}

button {
    flex-grow: 1;
}

button:hover {
    background-color: rgba(92, 239, 188, 0.63); 
}

.subscribe {
    display: flex;
    color: rgba(23, 1, 1, 0.54);
    background-color: #f0dada;
    padding: 5px;
    font-size: 0.8rem;
    min-height: 2.5rem;
}

@media screen and (max-width: 1168px) {
    .body-container {
       
    }
    
    .asection {
        background-color: #f89696;
    }
}

@media screen and (max-width: 988px) {
    
 asection {
     background-color: #deb3ed;
 }
    
}

@media screen and (max-width: 766px) {
    
 asection {
     background-color: #bf52db;
 }
    
}

@media screen and (max-width: 475px) {
    
 asection {
     background-color: #6090ef;
 }
    
}




    

    
    

    
    
    
   
    
    

    
    
